* {
    padding: 0;
    margin: 0;
}


.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.menu {
    background-color: blue;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.menu__box {
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.menu__item {
    list-style-type: none;
    font-weight: 600;
    text-transform: capitalize;
    padding-right: 50px;
}

.menu__link {
    color: #ffffff;
    text-decoration: none;
}

.menu__item.active .menu__link {
    color: red;
}

.btn {
    padding: 10px;
    height: 40px;
    background-color: transparent;
    color: white;
    border: none;
}

.btn:focus{
    outline: none;
}

#map {
    min-height: calc(100vh - 50px);
    width: 100%;
    margin-top: 50px
}
